<link rel="stylesheet" type="text/css" href="/typo3conf/ext/aloha/Resources/Public/Contrib/shadowbox/shadowbox.css">
<link rel="stylesheet" type="text/css" href="/typo3conf/ext/aloha/Resources/Public/Contrib/aloha/css/aloha.css" />
<link rel="stylesheet" type="text/css" href="/typo3conf/ext/aloha/Resources/Public/Css/AlohaIntegration.css" media="all">

<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/Contrib/aloha/lib/vendor/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/js/configuration.js" language="javascript"></script>
<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/Contrib/aloha/lib/require.js"></script>
<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/Contrib/aloha/lib/aloha.js"
	data-aloha-plugins="
						common/ui,
						common/format,
						common/list,
						common/highlighteditables,
                        typo3/notify,
						typo3/typo3
						"></script>
<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/js/loading.js"></script>
<script type="text/javascript" src="/typo3conf/ext/aloha/Resources/Public/Contrib/shadowbox/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    // let's skip the automatic setup because we don't have any
    // properly configured link elements on the page
    skipSetup: true
});
</script>